.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.container {
  font-family: 'Helvetica Neue';
  max-width: 640px;
  max-height: 640px;
  margin: 4rem auto;
  font-size: 1.25rem;
}

.line {
  display: flex;
}

.element {
  width: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  user-select: none;
  // border-left: 1px solid #a5e3e6;
  // border-bottom: 1px solid #dbdfff;
  transition: border-color .3s;
  // margin-left: -1px;
  // margin-bottom: -1px;
  // align-self: center;
}

.element--first {
  border-left: none;
}

.element--last {
  border-bottom: none;
}

.element--center {
  border-color: red;
  border: 1px solid red;
  z-index: 99;
  margin-top: -1px;
  margin-right: -1px;
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
  border-image-slice: 1;
  // border: 1px solid red;

}

